<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Мій профіль</string>
	<key>noSelected</key>
	<string>Не вибрано</string>
	<key>email</key>
	<string>Емейл:</string>
	<key>yourRegion</key>
	<string>Область:</string>
	<key>selectOptionPhotoSource</key>
	<string>Виберіть опцію</string>
	<key>cameraSource</key>
	<string>Камера</string>
	<key>photoLibrarySource</key>
	<string>Галерея</string>
	<key>back</key>
	<string>Назад</string>
</dict>
</plist>
