<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ok</key>
	<string>OK</string>
	<key>messageAlert</key>
	<string>Виберіть слова які ви шукали по фотографії</string>
	<key>titleAlert</key>
	<string>Увага</string>
	<key>title</key>
	<string>Запропоновані слова</string>
</dict>
</plist>
