<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorFillForm</key>
	<string>Не правельно заповнена форма регістрації</string>
	<key>errorEmailValidation</key>
	<string>Email не відповідає формату</string>
	<key>errorEmailValidationFormat</key>
	<string>Пароль не відповідає формату: {&quot;Більше 4 cимволи та більше 4 цифр&quot;}</string>
	<key>errorPasswordValidationFormat</key>
	<string>Пароль використовує не дозволені символи.\nДозволені символи: !#$%&amp;&apos;*+-/=?^_`{|}~</string>
	<key>errorPasswordIsNotEqual</key>
	<string>Паролі не співпадають</string>
	<key>errorNicknameValidation</key>
	<string>Nickname використовує не дозволені символи або містить менше 3 букв. Дозволені символи: _</string>
	<key>signUpWasSuccessful</key>
	<string>Реєстрація пройшла успішно</string>
	<key>errorSignUp</key>
	<string>Помилка реєстрації</string>
	<key>errorSignUpDetail</key>
	<string>Не можливо пройти реєстрацію з таким паролем та електроною поштою</string>
	<key>ok</key>
	<string>OK</string>
</dict>
</plist>
