<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560874919737-0ovckdh4dhpgsvu683itge3qajngt2cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560874919737-0ovckdh4dhpgsvu683itge3qajngt2cb</string>
	<key>API_KEY</key>
	<string>AIzaSyDiSzWVb0KlgcQAC3Qjod5nvo605FThOyM</string>
	<key>GCM_SENDER_ID</key>
	<string>560874919737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ILS</string>
	<key>PROJECT_ID</key>
	<string>improve-language-skills</string>
	<key>STORAGE_BUCKET</key>
	<string>improve-language-skills.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560874919737:ios:2d58156ede38e53107fae8</string>
	<key>DATABASE_URL</key>
	<string>https://improve-language-skills.firebaseio.com</string>
</dict>
</plist>