<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ok</key>
	<string>OK</string>
	<key>alertDescription</key>
	<string>Ви завершили треніровку з кількістю балів %ld</string>
	<key>title</key>
	<string>Треніровка</string>
	<key>alertTitle</key>
	<string>Завершено</string>
</dict>
</plist>
